body {
    background-color: #3b0927;
  }
.navbar {
    background-color: #0F4C5C;
}

.btn {
    background-color: #9A031E;
    color: white;
    font-weight: bold;
    border-color: #9A031E;
}
.btn:active,
.btn:hover {
    border-color: #9A031E !important;
    background-color: white !important;
    color: #9A031E;
}
.dropdown-item:hover {
    background-color: #9A031E !important;
    color: white !important;
}
th {
    background-color: #5F0F40 !important;
    color: white !important;
    border: 0 !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #C4A287;
}
.table-info {
    background-color: #C3B299;
}
td {
    /* background-color: #5F0F40; */
}
.dodajNovoPozajmljivanjeDugme {
    position: fixed;
    bottom: 25px;
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    right: 25px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
